
<h1>CalculAngular</h1>

<div>
  <p>Ingrese el primer número</p>
  <input type="text" placeholder="Ingrese un número" [(ngModel)] = 'numero1'>
  <p>Ingrese el segundo número</p>
  <input type="text" placeholder="Ingrese otro número" [(ngModel)] = 'numero2'>
</div>  

<div>
  <p>¿Qué operación desea realizar?</p>
  
  <button (click)="sumar()" >Sumar</button>
  <button (click)="restar()">Restar</button>
  <button (click)="multiplicar()">Multiplicar</button>
  <button (click)="dividir()">Dividir</button>
  <button (click)="elevar()">Elevar</button>
</div>

<div>
  <p>resultado ==> {{resultado}}</p>
</div> 


